name: Building & Push user service to Docker
on: workflow_dispatch
jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.2
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'
      - run: npm ci
      - run: npm run build --if-present
      - run: npm test --if-present 
      - name: Docker login
        uses: docker/login-action@v3.7.0
        with:
          username: ${{vars.DOCKER_UN2}}
          password: ${{secrets.DOCKER_PWD2}}
      - name: Docker Build and push
        uses: docker/build-push-action@v6.18.0
        with:
          context: ./order-service
          file: ./order-service/Dockerfile
          tags: ${{vars.DOCKER_UN2}}/order-service2:latest
          push: true
   
        
